<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/testing.css' %}">

</head>

<body>

  <div class="subjects">
    {% for subject in subjects %}
    <form method='POST' class="subject_form" action="{% url 'testing_page' %}">
      {% csrf_token %}

      <button class="subject_button" name="selected_subject" type="submit"
        value="{{subject.id}}"><span>{{subject.subject}}</span></button>
      <!-- <input type="subject" name="selected_subject"  id="" value="{{subject.subject}}"> -->
    </form>
    {% endfor %}
  </div>

  <a class="closeBtn" href="{{variant_of_subject.get_absolute_url}}" id="{{variant_of_subject.id}}"></a>

  <div id="posts" class="posts">

    {% for question in first_page %}
    <!-- <h1>{{question.id}}</h1> -->
    <img src="{{question.question.url}}" class="question_photo" alt="Star">
    <textarea name="name" id='{{question.id}}' class="answer_question" rows="8" cols="80"></textarea>
    {% endfor %}


    <!-- <button onclick="myFunction()"> Submit</button> -->

  </div>

  <div class="links">
    {% for item in filled_answers %}
    {% if item.answer %}
    <li><a href="{{item.page}}" id={{item.id_answer}} class="filled">{{item.page}}</a></li>
    {% else %}
    <li><a href="{{item.page}}" id={{item.id_answer}} class="unfilled">{{item.page}}</a></li>
    {% endif %}
    {% endfor %}
  </div>

  <span>Cізде уақыт қалды:</span>
  <p id="time">{{hours}} : {{minutes}} : {{seconds}}</p>
  </br>

  <p id="demo"></p>
  Second pass: <span id="count">-1</span>

  <!-- {% for i in page_range %}
  <a href="{{i}}">{{i}}</a>
  {% endfor %} -->

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


  <script type="text/javascript">
    var id = setInterval("MyFunct_1()", 1000)




    function MyFunct_1() {
      time = document.getElementById("time").innerText
      time = time.split(":")


      hours = parseInt(time[0])
      minutes = parseInt(time[1])
      seconds = parseInt(time[2])
      console.log(hours + ":" + minutes + ":" + seconds)

      seconds--;

      if (minutes <= 0 && seconds < 0) {
        hours -= 1;
        minutes = 60;
      }
      if (seconds < 0) {
        // if (!minutes <= 0) {
        //   minutes -= 1;
        // }
        minutes -= 1;
        seconds = 59;

      }



      document.getElementById("time").innerHTML = hours + " : " + minutes + " : " + seconds;
    }

    // var minute = 0;

    // function timer() {
    //   time = document.getElementById("time").innerText
    //   time = time.split(":")

    //   hours = parseInt(time[0])
    //   minutes = parseInt(time[1])
    //   seconds = parseInt(time[2])
    //   console.log(hours + ":" + minutes + ":" + seconds)

    //   seconds--;

    //   if (seconds <= 0) {
    //     minutes -= 1;
    //     counter = 59;
    //   }
    //   if (minute <= 0) {
    //     hours -= 1
    //     minutes = 59
    //   }
    //   // if (minute == 0)
    //   //   document.getElementById("count").innerHTML = counter;
    //   // else
    //   //   document.getElementById("count").innerHTML = minute + " : " + counter;

    //   // document.getElementById("time").innerHTML = hours + " : " + minutes + " : " + seconds;

    //   setTimeout("timer()", 1000);
    // }                                                              
  </script>



  <script>
    $('a').click(function (event) {
      event.preventDefault();
      var page_n = $(this).attr('href');
      // console.log(page_n);
      var answers = [];
      var index = 0;
      var question;
      var filled_answer = -1;



      var textareaList = document.getElementsByTagName("textarea");
      for (var i = 0; i < textareaList.length; i++) {
        var index = textareaList[i].id;
        console.log("index=" + index)

        answers.push(index);
        answers.push(textareaList[i].value);

        if (textareaList[i].value != "") {
          filled_answer = index;
        }
        //DO SOMETHING
      }
      console.log(answers)

      // ajax
      $.ajax({
        type: "POST",
        url: $('.closeBtn').attr("href"), // name of url
        data: {
          page_n: page_n, //page_number
          answers: JSON.stringify(answers),
          traditional: true,
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (resp) {
          console.log('success')
          //loop
          $('#posts').html('')

          $.each(resp, function (i, val) {
            response = val
            console.log("id = " + response.id)
            //apending posts

            // $('#posts').append(
            // '<h1>' +  val.trueanswer +  '</h1>' + '\n' +
            // '<img src=' + val.question  +' alt="Star" width="200" height="200">' + '\n'
            // + '<textarea name="name" id="asnwer-' + val.id +'+" rows="8" cols="80"></textarea>'
            // )
          });
          $.ajax({
            type: "POST",
            url: "{% url 'serial_answers' %}", // name of url
            data: {
              question: JSON.stringify(response.id),
              traditional: true,
              csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (resp2) {

              //loop
              $('#posts').html('')
              console.log('val = ' + resp)

              // document.getElementsByClassName(String(page_n)).style.backgroundColor = "blue";

              if (filled_answer != -1) {
                console.log(typeof filled_answer.toString());
                document.getElementById(String(filled_answer)).className = "filled";
              }

              $.each(resp2, function (i, val) {

                console.log("yes =")
                $('#posts').append(
                  // '<h1>' + val.question + '</h1>' + '\n' +
                  '<img src=' + response.question +
                  ' alt="Star" class="question_photo" >' +
                  '<textarea name="name" id="' + val.question +
                  '" class = "answer_question" rows="8" cols="80">' + val.answer + '</textarea>'
                )

              });


            },
            error: function () {
              console.log('error')
            }
          });

        },
        error: function () {
          console.log('error')
        }
      }); //

    });
  </script>


</body>

</html>