<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>moderator</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>


    <body>
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1a43c0;">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/frontimg/admin.png' %}" width="73" height="50" class="d-inline-block align-top" alt="" loading="lazy">
            </a>

            <a class="navbar-brand" href="#" style="color: white;">Moderator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#" style="color: white;">Сүйінәлі Нұржігіт<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="#" style="color: rgb(240, 18, 18);">Математика<span class="sr-only">(current)</span></a>
                </li>


              </ul>
            </div>
          </nav>



          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="home" aria-selected="true">Все</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#h6" role="tab" aria-controls="profile" aria-selected="false">6 сынып</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#h7" role="tab" aria-controls="profile" aria-selected="false">7 сынып</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#h8" role="tab" aria-controls="contact" aria-selected="false">8 сынып</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#h9" role="tab" aria-controls="contact" aria-selected="false">9 сынып</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#h10" role="tab" aria-controls="contact" aria-selected="false">10 сынып</a>
            </li>
          </ul>



          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Мектеп</th>
                        <th scope="col">Математика</th>
                        <th scope="col">Логика</th>
                        <th scope="col">Физика</th>
                        <th scope="col">Общий</th>
                        <th scope="col">Статус</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td><a href="www.google.com">Паленшиев Тугенше</a></td>
                        <td>06.08.2020</td>
                        <td>148 мектеп-гимназия</td>
                        <td>0 балл</td>
                        <td>0 балл</td>
                        <td>0 балл</td>
                        <td>0 балл</td>
                        <td style="color: red;">Тексерілді</td>
                      </tr>

                      <tr>
                        <th scope="row">2</th>
                        <td><a href="www.google.com">Паленбай Түгенбай</a></td>
                        <td>06.08.2020</td>
                        <td>148 мектеп-гимназия</td>
                        <td>0 балл</td>
                        <td>0 балл</td>
                        <td>0 балл</td>
                        <td>0 балл</td>
                        <td style="color: rgb(37, 61, 194);">Тексерілмеді</td>
                      </tr>


                    </tbody>
                  </table>
            </div>
            <div class="tab-pane fade" id="h6" role="tabpanel" aria-labelledby="profile-tab">6</div>
            <div class="tab-pane fade" id="h7" role="tabpanel" aria-labelledby="contact-tab">7</div>
            <div class="tab-pane fade" id="h8" role="tabpanel" aria-labelledby="contact-tab">8</div>
            <div class="tab-pane fade" id="h9" role="tabpanel" aria-labelledby="contact-tab">9</div>
            <div class="tab-pane fade" id="h10" role="tabpanel" aria-labelledby="contact-tab">10</div>
          </div>

          <!-- <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ФИО</th>
                <th scope="col">Мектеп</th>
                <th scope="col">Математика</th>
                <th scope="col">Логика</th>
                <th scope="col">Физика</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <a href="#"><td>Паленшиев Тугенше</td></a>
                <td>148 мектеп-гимназия</td>
                <td>0 балл</td>
                <td>0 балл</td>
                <td>0 балл</td>
              </tr>
            </tbody>
          </table> -->

    </body>
</html>